HOME_DATA_ENV=dev
HOME_DATA_ROOT=./data
AZURE_STORAGE_ACCOUNT_URL=
AZURE_SQL_SERVER=
AZURE_SQL_DATABASE=homeinsights
RESEND_API_KEY=
ALERT_TO_EMAIL=
ALERT_FROM_EMAIL=
ALERT_DRY_RUN=true
MEDALLION_CONTAINER=medallion
R2_ENDPOINT_URL=
R2_BUCKET=victorian-home-medallion
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
SUPABASE_DB_URL=
